# 1. Python bytes and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# 2. virtual environment directories
venv/
env/
.venv/
.env/

# 3. Operating system and editor junk files
.DS_Store
*.swp
*.swo

# 4. IDE configuration files (VS Code, PyCharm)
.vscode/
.idea/

# 5. Jupyter Notebook checkpoints
.ipynb_checkpoints

# 6. Logs and databases
*.log
*.sqlite3
*.db

# 7. Build and package artifacts
build/
dist/
*.egg-info/

# 8. Data files
# *.csv